<section id="portfolio">
    <div class="container" id="i18_instalaciones">
       <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="instalaciones.titulo">Instalaciones</span></h1>
        </div>
    </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="/static/img/portfolio/entrada.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ametsak
                            </div>
                            <div class="project-name">
                                Entrada
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="/static/img/portfolio/guarde4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ametsak
                            </div>
                            <div class="project-name">
                                Juegos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="/static/img/portfolio/guarde9.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ametsak
                            </div>
                            <div class="project-name">
                                Aula 1
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="/static/img/portfolio/guarde12.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ametsak
                            </div>
                            <div class="project-name">
                                Aula 2
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="/static/img/portfolio/guarde15.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ametsak
                            </div>
                            <div class="project-name">
                                Aula 3
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="/static/img/portfolio/guarde7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ametsak
                            </div>
                            <div class="project-name">
                                Comedor
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>