<div class="container" id="i18_skills">
    <div class="row">
        <div class="col-lg-12 text-center" >
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">My Skillss</span></h1>
        </div>
    </div>
    <div class="row features-block">
    
        <div class="col-lg-8 col-lg-offset-2 text-left m-t-lg m-b-lg">
            <p><span data-i18n="skills.resumen"></span><span style="color: #633287; " data-i18n="skills.resumen4"></span><span data-i18n="skills.resumen5"></span></p>
            <p><span data-i18n="skills.resumen2"></span></p>
            <ul class="fa-ul">
              	
              	<li><i class="fa-li fa fa-angle-double-right"></i><span data-i18n="skills.especial"></li>
              	
              	
            </ul>
            <p><span data-i18n="skills.resumen3"></span></p>
        </div>
   
        {% for skill in site.data.skills %}
            {% assign loopindex = forloop.index | modulo: 2 %}
        <div class="row">
            <div class="col-lg-1 col-lg-offset-2 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
                <p>{{ skill.name }}</p>
            </div>
            <div class="col-lg-7 wow  {% if loopindex == 1 %} fadeInRight {% else %} fadeInLeft {% endif %}">
                <div class="progress progress-bar-default">
                    <div style="width: {{ skill.percentage }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ skill.percentage }}" role="progressbar" class="progress-bar">
                    {{ skill.horario }}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
