<section id="ContactoEmail" class="features contactoEmail" style="margin-top: 0px;">
    <div class="container" id="i18_link">
        <div class="row m-b-lg">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <div class="navy-line"></div>
                <h1><span data-i18n="link.link">Link</span></h1>
            </div>
        </div>
    </div>
    <div id="gg">
        <div class="container " id="i18_contacto">


             <!--<div class="col-lg-2  wow zoomIn">
               
            </div>-->

            <div class="col-lg-6 col-lg-offset-3 wow zoomIn">
                <div class="form-area ">
                    <br style="clear:both ">
                        <h3 style="margin-bottom: 25px; text-align: center; "><span data-i18n="contacto.titulo">contacto</span></h3>
                        <p style="margin-bottom: 25px; text-align: center; " >LLÁMANOS  (<a style="color: #8fbd43;"  href="tel://917250761">917250761</a>) </p>
                        <form action="https://formspree.io/julengodoy@gmail.com"  method="POST">                  
                        
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre " required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email " required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Telefono " required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto " required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="textarea" id="message" placeholder="Mensaje " maxlength="200" rows="7"></textarea>
                            
                        </div>
                        <input type="submit" class="btn btn-primary pull-right" value="Enviar">
                        <!-- <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Enviar</button>-->
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-1 wow zoomIn">

            <br style="clear:both "> 
            {% for link in site.data.links %}
                <div class="team-member">
                    <h4><span class="navy">{{ link.last_name }}</span> {{ link.first_name }}</h4>
                    <p>{{ link.desc }}</p>
                    <p>
                        <!--<span class="fa fa-home"></span> {{ link.direccion }}<br>-->
                        <span class="fa fa-phone-square"></span> {{ link.telefono }}<br>
                        <span class="fa fa-mobile"></span> {{ link.telefono }}<br>
                        <span class="fa fa-facebook-square" style="color: #3385ff"></span> <a href="https://www.facebook.com/{{ site.author.facebook_username }}"> Ametsak Facebook </a> <br>
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="{{ link.website }}" target="blank"><i class="fa fa-link"></i></a>
                        </li>
                        <li><a href="mailto:{{ link.email }}"><i class="fa fa-envelope-o"></i></a>
                        </li>
                    </ul>
                </div>
                {% endfor %}

                <br style="clear:both ">

                <!--<img src="/static/img/landing/llamanos.png" class="img-responsive" alt="Cinque Terre">-->
                <img class="visible-lg" src="/static/img/landing/llamanos.png" width="250"  />
                <img class="visible-md" src="/static/img/landing/llamanos.png" width="200"  />
                <img class="visible-sm" src="/static/img/landing/llamanos.png" width="150"  />
                <img class="visible-xs" src="/static/img/landing/llamanos.png" width="150"  />
            </div>




        </div>
        <!-- <div class="col-lg-4">
                <h3><span data-i18n="contacto.titulo">Etapas</span></h3>
                <p><span class="fa fa-home"></span> Some Address 987, NY<br>
                    <span class="fa-phone-square"></span> +34 9884 4893 <br>
                    <span class="fa fa-mobile"></span> +34 59855 9853 <br>
                    <span class="fa fa-facebook-square"></span> <a href="#"> BlackTie Agency </a> <br>
                </p>
            </div>-->
    </div>
    <br style="clear:both ">
    <br style="clear:both ">
    <br style="clear:both ">
</section>
<section style="height: 410px;width: 100%;">
    <div id="map">
    </div>
</section>
<!--feedback-->